* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
}

*::selection {
  background-color: red;
  color: #fff;
}
